@charset "UTF-8";

#logo {
	text-align: center;
	height: 100px;
}

#menu li {
	line-height: 35px;
	margin-bottom: 5px;
	list-style: none;
}

ul li a {
	padding-right: 15px;
	border-radius: 5px;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	display: block;
	background: -webkit-linear-gradient(top, #690 0%, #090 100%);
	background: -webkit-linear-gradient(to bottom, #690 0%, #090 100%);
}

ul li a:hover {
	cursor: pointer;
	color: #000;
	background: -webkit-linear-gradient(top, #6f0 0%, #0f0 100%);
	background: -webkit-linear-gradient(to bottom, #6f0 0%, #0f0 100%);
}

.sub-menu {
	padding: 0;
	display: none;
}

.sub-menu li a:hover {
	cursor: pointer;
	color: #000;
	background: -webkit-linear-gradient(top, #eee 0%, #bbb 100%);
	background: -webkit-linear-gradient(to bottom, #eee 0%, #bbb 100%);
}

.current {
	cursor: pointer;
	color: #000;
	background: -webkit-linear-gradient(top, #6f0 0%, #0f0 100%);
	background: -webkit-linear-gradient(to bottom, #6f0 0%, #0f0 100%);
}

.subitems {
	cursor: pointer;
	color: #000;
	background: -webkit-linear-gradient(top, #eee 0%, #bbb 100%);
	background: -webkit-linear-gradient(to bottom, #eee 0%, #bbb 100%);
}

ul>li>ul>li>a {
	background: none;
	color: #fff;
	font-size: 17px;
}

#nv:hover .sub-menu {
	display: block;
}
#pb:hover ul {
	display: block;
}