@charset "UTF-8";

* {
	margin: 0;
	padding: 0
}

#right {
	width: 81%;
	height: 625px;
	float: left;
	margin-left: 10px;
	border-bottom: 3px solid #ccc;
}

#tool {
	width: 100%;
	height: 150px;
}

#tool h3 {
	text-align: center;
	font-size: 40px;
	line-height: 150px;
}

#content {
	width: 100%;
	height: 100%;
}

